<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--数据库-->
    <add key="dbtype" value="MSSQL" />
    <add key="dbsource" value="SEPHIROTHBF0C\SEPHIROTH" />
    <add key="datasource" value="Sephiroth_System" />
    <add key="username" value="sa" />
    <add key="password" value="sa123" />
  </appSettings>
</configuration>